body { background-color: #fff; color: #333; }

body, ol, ul, td {
  font-family:  "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", "Bitstream Vera Sans", Arial, sans-serif;

  font-size:   18px;
  line-height: 38px;
  background-color: #000;
  color: #fff;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { text-decoration:none; color: #999; }
a:visited { text-decoration:none; color: #666; }
a:hover { text-decoration:none; color: #333; }

p {
  font-size: 36px;
}
.grahamcrackers {
    width: 70%;
    height: 100%;
    margin-top:200px;
    margin-left:15%;
    margin-right:15%;
    text-align: center;
}

.grahamcrackers p{
    text-align: center;
}

.grahamcrackers p.small{
  font-size:18px;
}

.grahamcrackers p.attribution{
 font-size:18px;
 text-align:right;
 margin-right:10%;
 margin-top:-40px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

