body, ol, ul, td {
  font-family:  "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", "Bitstream Vera Sans", Arial, sans-serif;

  font-size:   18px;
  line-height: 38px;
  background-color: #000;
  color: #fff;
}