<table width=100% height=100%> 
        <td valign=middle align=center> 
                <table width=90% border=0>
                  <td id="centerCell" align=center> 
                    <div id="main">
                        Today, I will

						<table>
						<% @posts.each do |post| %>
						  <tr>
						    <td>...<%=h post.message %></td>
						    <td>   --<%=h post.name %></td>
						  </tr>
						<% end %>
						</table>
                    </div> 
                    
                    <div id="credit">
                    </div>
                  </td>
                </table> 
        </td> 
</table> 

<center>
<%= link_to "View posts", posts_path %> <%= link_to "Make a post", new_post_path %> 
</center>
