<div class="grahamcrackers">
<p>E-mail notifications reminding you to do your item</p>
<p>Ability to check off items you've finished</p>
<p>Spam filtering</p>
<p>See a new post without refreshing</p>
<p>Find Higgs boson</p>
</div>

<div class="footer">
  <p>
    <%= mail_to "thomson@squareheadgroup.com", "Questions" %>? |
	<%= link_to "Github", "http://www.github.com/itsthomson/todayiwill/"%> |
	<%= link_to "Go back", home_index_path%> 
  </p>
</div>

