<div class="grahamcrackers">
<p>E-mail notifications reminding you to do your item</p>
<p>Ability to check off items you've finished</p>
<p>Spam filtering/Validation</p>
<p>See a new post without refreshing</p>
<p>Find Higgs boson</p>
</div>

<div class="footer">
<p>by <a href="mailto:thomson@squareheadgroup.com">Thomson Nguyen.</a> <%= link_to "(Go back)", home_index_path%> </p>
</div>

