<div class="grahamcrackers">
	<% form_for(@post) do |f| %>
	  <%= f.error_messages %>

	  <p class="small">
	    My name is 
	    <%= f.text_field :name %>,
	    and today, I will
	    <%= f.text_field :message %>
	  </p>
	  <p>
	    <%= f.submit 'And I will.' %>
	  </p>
	<% end %>
</div>

