<div class="footer">
  <p>
  <span  class='st_twitter_large' ></span><span  class='st_facebook_large' ></span><span  class='st_yahoo_large' ></span><span  class='st_gbuzz_large' ></span><span  class='st_email_large' ></span><span  class='st_sharethis_large' ></span>
  </p>
  <p>
	 By <%= link_to "http://www.ocf.berkeley.edu/~thomson/", "Thomson Nguyen" %>
    <br/>
      <%= mail_to "thomson@cantab.net", "Questions" %>? |
	<%= link_to "Github", "http://www.github.com/itsthomson/todayiwill/"%> |
    <%= link_to "To-do", wishlist_index_path %> 
  </p>
</div>